In [30]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.api as sm
import seaborn as sns

In [45]:
rachel_final_url = "https://raw.githubusercontent.com/AliceLiu17/KPMG-Sustainable-Future/main/Data/df_final.csv"
df_final = pd.read_csv(rachel_final_url)

dallas_demo_update_url = "https://raw.githubusercontent.com/AliceLiu17/KPMG-Sustainable-Future/main/Data/Dataframe%20to%20combine/Dallas_demographics_readyformodel.csv"
df_demo = pd.read_csv(dallas_demo_update_url)

df_final.head(5)

,zip_code,Current Population,Average House Value ($),Average Income Per Household ($),# Residential/Business Mailbox Ratio,EV Registration Count,EV Charging Station Count
0,75201,18460,630100,94872,5,536,4
1,75202,2931,269200,92500,3,83,1
2,75203,18211,108600,37418,11,35,1
3,75204,45140,378600,81914,20,517,0
4,75205,26531,1212700,159076,13,540,1

In [10]:
df_demo.head(5)

,Unnamed: 0,Zip Code,Current Population,Average House Value ($),Average Income Per Household ($),White Population,Black Population,Hispanic Population,Asian Population,American Indian Population,Hawaiian Population,Other Population,Male Population,Female Population,# Residential Mailboxes,# Business Mailboxes,Number of Businesses,# Residential/Business Mailbox Ratio
0,0,75201,18460,630100,94872,7102,1627,1043,445,110,16,328,5070,4339,12473,2153,2455,5
1,1,75202,2931,269200,92500,1293,278,255,64,31,4,55,927,739,2050,658,585,3
2,2,75203,18211,108600,37418,4934,5586,9359,76,236,40,5344,8186,7535,6390,545,245,11
3,3,75204,45140,378600,81914,17791,3775,7292,1745,323,44,3358,13656,12623,25648,1232,1383,20
4,4,75205,26531,1212700,159076,21497,384,1385,937,163,14,444,10981,12080,11586,865,1101,13

In [17]:
df_demo = df_demo.drop("Unnamed: 0", axis = 1)

In [18]:
df_demo.columns

Index(['Zip Code', 'Current Population', 'Average House Value ($)',
       'Average Income Per Household  ($)', 'White Population',
       'Black Population', 'Hispanic Population', 'Asian Population',
       'American Indian Population', 'Hawaiian Population', 'Other Population',
       'Male Population', 'Female Population', '# Residential Mailboxes',
       '# Business Mailboxes', 'Number of Businesses',
       '# Residential/Business Mailbox Ratio'],
      dtype='object')

In [46]:
a = df_demo["White Population"]
b = df_demo["Hispanic Population"]
c = df_demo["Black Population"]
d = df_demo["Asian Population"]
e = df_demo["American Indian Population"]
f = df_demo["Hawaiian Population"]
g = df_demo["Other Population"]
h = df_demo["Male Population"]
i = df_demo["Female Population"]
j = df_demo["# Residential Mailboxes"]
k = df_demo["# Business Mailboxes"]
l = df_demo["Number of Businesses"]

df_final = pd.concat([df_final, a, b, c, d, e, f, g, h, i, j, k, l], axis = 1)
df_final.columns

Index(['zip_code', 'Current Population', 'Average House Value ($)',
       'Average Income Per Household  ($)',
       '# Residential/Business Mailbox Ratio', 'EV Registration Count',
       'EV Charging Station Count', 'White Population', 'Hispanic Population',
       'Black Population', 'Asian Population', 'American Indian Population',
       'Hawaiian Population', 'Other Population', 'Male Population',
       'Female Population', '# Residential Mailboxes', '# Business Mailboxes',
       'Number of Businesses'],
      dtype='object')

In [47]:
df_final =  df_final.rename(columns={"EV Charging Station Count": "evcs_count",
                         "Current Population": "population",
                         "Average House Value ($)": "house_value",
                         "Average Income Per Household  ($)": "household_income",
                         "# Residential/Business Mailbox Ratio": "residential_business_ratio",
                         "EV Registration Count": "ev_registration_count"})

In [49]:
df_final.columns

Index(['zip_code', 'population', 'house_value', 'household_income',
       'residential_business_ratio', 'ev_registration_count', 'evcs_count',
       'White Population', 'Hispanic Population', 'Black Population',
       'Asian Population', 'American Indian Population', 'Hawaiian Population',
       'Other Population', 'Male Population', 'Female Population',
       '# Residential Mailboxes', '# Business Mailboxes',
       'Number of Businesses'],
      dtype='object')

In [48]:
df_final.head(20)

,zip_code,population,house_value,household_income,residential_business_ratio,ev_registration_count,evcs_count,White Population,Hispanic Population,Black Population,Asian Population,American Indian Population,Hawaiian Population,Other Population,Male Population,Female Population,# Residential Mailboxes,# Business Mailboxes,Number of Businesses
0,75201,18460,630100,94872,5,536,4,7102,1043,1627,445,110,16,328,5070,4339,12473,2153,2455
1,75202,2931,269200,92500,3,83,1,1293,255,278,64,31,4,55,927,739,2050,658,585
2,75203,18211,108600,37418,11,35,1,4934,9359,5586,76,236,40,5344,8186,7535,6390,545,245
3,75204,45140,378600,81914,20,517,0,17791,7292,3775,1745,323,44,3358,13656,12623,25648,1232,1383
4,75205,26531,1212700,159076,13,540,1,21497,1385,384,937,163,14,444,10981,12080,11586,865,1101
5,75206,47359,433100,75569,14,498,0,27808,10253,2432,2203,487,48,4231,18952,17296,26311,1818,1696
6,75207,2449,637640,85075,0,45,2,4991,1740,4527,68,13,1,77,7334,2314,1701,1955,1058
7,75208,43011,325800,66230,10,279,1,20680,21931,1422,262,485,26,8260,15925,14246,14102,1329,868
8,75209,16249,576300,99003,14,282,1,9825,2615,2394,378,101,16,1222,6697,6956,7523,505,611
9,75210,9249,69200,26801,12,5,0,874,2060,5382,20,58,7,1274,3660,3822,3327,274,85
10,75211,79173,122100,46226,21,83,2,44630,60742,5263,832,946,64,23666,36755,36391,22054,1025,635
11,75212,32257,112500,40024,9,58,0,10209,16656,7640,323,249,48,7295,12349,12535,8911,915,416
12,75214,37198,516200,92676,23,547,1,27521,7131,1813,817,412,36,3170,15956,16994,17464,734,802
13,75215,20791,82000,31558,9,51,1,1920,2037,11712,77,169,18,1028,7470,7178,8663,874,340
14,75216,53307,78100,29448,18,38,0,7670,15207,33305,145,388,76,8804,23730,25686,18256,967,319
15,75217,89451,94600,41513,20,38,0,32569,51571,22768,316,1126,67,25878,39974,40350,24111,1175,572
16,75218,23012,353700,90522,17,264,2,17707,4657,1587,466,256,39,2114,10476,11189,10654,613,649
17,75219,35272,324600,75476,14,463,1,15851,7354,2012,1396,247,30,3180,12433,9691,19816,1328,1568
18,75220,45303,296500,47003,8,262,0,24535,33157,1588,395,524,33,16116,22836,19055,14614,1822,1306
19,75223,16209,133000,57243,10,42,0,7089,9909,1816,161,176,44,5130,7237,6710,4912,451,187

In [50]:
x = df_final.loc[:, df_final.columns != 'evcs_count']
y = df_final['evcs_count']
x = sm.add_constant(x)
result = sm.OLS(y, x).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             evcs_count   R-squared:                       0.618
Model:                            OLS   Adj. R-squared:                  0.380
Method:                 Least Squares   F-statistic:                     2.602
Date:                Fri, 11 Nov 2022   Prob (F-statistic):             0.0106
Time:                        20:48:27   Log-Likelihood:                -53.041
No. Observations:                  48   AIC:                             144.1
Df Residuals:                      29   BIC:                             179.6
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                         -8.7921    923.940     -0.010      0.992   -1898.461    1880.877
zip_code                       0.0001      0.012      0.011      0.992      -0.025       0.025
population                  7.171e-05   3.33e-05      2.153      0.040     3.6e-06       0.000
house_value                -4.872e-07   1.66e-06     -0.294      0.771   -3.88e-06    2.91e-06
household_income           -9.322e-06   1.43e-05     -0.652      0.519   -3.85e-05    1.99e-05
residential_business_ratio    -0.0080      0.007     -1.144      0.262      -0.022       0.006
ev_registration_count          0.0082      0.002      4.314      0.000       0.004       0.012
White Population              -0.0004    9.1e-05     -4.245      0.000      -0.001      -0.000
Hispanic Population            0.0003   9.42e-05      2.926      0.007     8.3e-05       0.000
Black Population              -0.0002   6.27e-05     -2.811      0.009      -0.000    -4.8e-05
Asian Population            9.015e-05      0.000      0.281      0.781      -0.001       0.001
American Indian Population     0.0082      0.003      2.578      0.015       0.002       0.015
Hawaiian Population            0.0175      0.012      1.413      0.168      -0.008       0.043
Other Population              -0.0010      0.000     -3.991      0.000      -0.002      -0.000
Male Population                0.0006      0.000      2.878      0.007       0.000       0.001
Female Population          -9.963e-05      0.000     -0.589      0.560      -0.000       0.000
# Residential Mailboxes       -0.0004      0.000     -3.549      0.001      -0.001      -0.000
# Business Mailboxes          -0.0016      0.001     -1.798      0.083      -0.003       0.000
Number of Businesses           0.0022      0.001      1.987      0.056   -6.51e-05       0.004
==============================================================================
Omnibus:                        1.592   Durbin-Watson:                   2.181
Prob(Omnibus):                  0.451   Jarque-Bera (JB):                1.084
Skew:                           0.366   Prob(JB):                        0.582
Kurtosis:                       3.080   Cond. No.                     2.81e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.81e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [51]:
x = df_final.loc[:, df_final.columns != 'ev_registration_count']
y = df_final['ev_registration_count']
x = sm.add_constant(x)
result = sm.OLS(y, x).fit()
print(result.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     ev_registration_count   R-squared:                       0.915
Model:                               OLS   Adj. R-squared:                  0.863
Method:                    Least Squares   F-statistic:                     17.39
Date:                   Fri, 11 Nov 2022   Prob (F-statistic):           5.94e-11
Time:                           20:48:31   Log-Likelihood:                -260.84
No. Observations:                     48   AIC:                             559.7
Df Residuals:                         29   BIC:                             595.2
Df Model:                             18
Covariance Type:               nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                       3.007e+04   6.99e+04      0.430      0.670   -1.13e+05    1.73e+05
zip_code                      -0.4008      0.929     -0.432      0.669      -2.300       1.498
population                    -0.0043      0.003     -1.665      0.107      -0.010       0.001
house_value                 3.553e-05      0.000      0.282      0.780      -0.000       0.000
household_income               0.0012      0.001      1.098      0.281      -0.001       0.003
residential_business_ratio     0.5140      0.533      0.965      0.343      -0.576       1.604
evcs_count                    47.4356     10.997      4.314      0.000      24.945      69.926
White Population               0.0341      0.006      5.600      0.000       0.022       0.047
Hispanic Population           -0.0144      0.008     -1.879      0.070      -0.030       0.001
Black Population               0.0170      0.004      3.913      0.001       0.008       0.026
Asian Population              -0.0137      0.024     -0.564      0.577      -0.063       0.036
American Indian Population    -0.6313      0.242     -2.606      0.014      -1.127      -0.136
Hawaiian Population           -0.7859      0.960     -0.819      0.419      -2.748       1.177
Other Population               0.0597      0.021      2.816      0.009       0.016       0.103
Male Population               -0.0406      0.018     -2.295      0.029      -0.077      -0.004
Female Population             -0.0091      0.013     -0.713      0.482      -0.035       0.017
# Residential Mailboxes        0.0337      0.008      3.997      0.000       0.016       0.051
# Business Mailboxes           0.0678      0.068      0.994      0.328      -0.072       0.207
Number of Businesses          -0.0725      0.089     -0.814      0.422      -0.255       0.110
==============================================================================
Omnibus:                        1.456   Durbin-Watson:                   2.220
Prob(Omnibus):                  0.483   Jarque-Bera (JB):                0.681
Skew:                           0.196   Prob(JB):                        0.712
Kurtosis:                       3.432   Cond. No.                     2.80e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.8e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

### LASSO REGRESSION

In [57]:
from sklearn.model_selection import train_test_split, cross_val_score, RepeatedKFold
from sklearn.linear_model import Lasso
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [58]:
data_train, data_val = train_test_split(df_final, test_size = 0.2, random_state = 2)

#Dependent Variable
Y_train = data_train.iloc[:, -1].values
#Independent Variables
X_train = data_train.iloc[:,0 : -1].values
#Independent Variables for Test Set
X_test = data_val.iloc[:,0 : -1].values

# Evaluating The Model With RMLSE
def score(y_pred, y_true):
  error = np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean() ** 0.5
  score = 1 - error
  return score

actual_cost = list(data_val['evcs_count'])
actual_cost = np.asarray(actual_cost)


#Initializing the Lasso Regressor with Normalization Factor as True
lasso_reg = Lasso()
# model = make_pipeline(StandardScaler(with_mean=False), Lasso())
#Fitting the Training data to the Lasso regressor
lasso_reg.fit(X_train,Y_train)
#Predicting for X_test
y_pred_lass =lasso_reg.predict(X_test)
#Printing the Score with RMLSE
print("\n\nLasso SCORE : ", score(y_pred_lass, actual_cost))

Lasso SCORE :  -1.5888237795405082

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.864e+05, tolerance: 1.060e+03
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive